# Python
__pycache__/
*.pyc
.venv/
venv/

# Env
.env
.env.*
app/.env

# DB / data
*.sqlite
app/db/
data/
*.db
docs/
frontend/login-debug.png
frontend/test-results/

# Frontend
node_modules/
dist/
build/

# Tools
.idea/
.DS_Store

# Migrations
alembic/versions/

#log
.log

